@page "/"

<PageTitle>Index</PageTitle>

<h1>HVAC Tracking System</h1>

This is a webfront for the HVAC Tracking system.<br> 

On this site it is possible to see the configured trackers and the statistics of when the rooms are in use.
