@page "/trackers"
@using CentralHub.WebUI.Data
@using CentralHub.Api.Model
@inject TrackersService TrackersService

<PageTitle>Trackers</PageTitle>

<h1>Trackers</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_trackers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th> Location</th>
            <th>Mac Address</th>
            <th>Tracker Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tracker in _trackers)
        {
            <tr>
                <td>@tracker.Name</td>
                <td>@tracker.Location</td>
                <td>@tracker.MacAddress</td>
                <td>@tracker.TrackerType.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Tracker[]? _trackers;

    protected override async Task OnInitializedAsync()
    {
        _trackers = await TrackersService.GetTrackersAsync();
    }

}
