@page "/unregisteredtrackers"
@using CentralHub.WebUI.Data
@using CentralHub.Api.Model.Responses.Room
@using CentralHub.Api.Model.Responses.Tracker
@using System.Collections.Immutable
@implements IDisposable
@inject TrackerService TrackerService

<PageTitle>Unregistered Trackers</PageTitle>

<h1>Unregistered Trackers</h1>

@if (_unregisteredTrackers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Wifi Mac Address</th>
                        <th scope="col">Bluetooth Mac Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var unregisteredTracker in _unregisteredTrackers)
                    {
                        <tr>
                            <td>@unregisteredTracker.WifiMacAddress</td>
                            <td>@unregisteredTracker.BluetoothMacAddress</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code {
    private readonly CancellationTokenSource _cancellationTokenSource = new CancellationTokenSource();
    private ImmutableArray<UnregisteredTracker>? _unregisteredTrackers;

    protected override async Task OnInitializedAsync()
    {
        _unregisteredTrackers = (await TrackerService.GetUnregisteredTrackersAsync(_cancellationTokenSource.Token)).ToImmutableArray();
    }

    public void Dispose()
    {
        _cancellationTokenSource.Cancel();
        _cancellationTokenSource.Dispose();
    }
}
